html, body#tinymce {background-color:#FFF;}
body {padding:0; font-size: 14.5px;}
body.lang-vi {font-family:Arial, Verdana, Helvetica, sans-serif !important;}

 /**
  * Links
  */
a, .fakelink {text-decoration:none;color:#002D62;}
a:hover, .fakelink:hover {text-decoration:underline;color:#476A8F;}
a.autolink {background-color: #f9f9f9;color:#002D62;}

#page-header a {text-decoration:none;color:#FFF;font-weight:bold;}
#page-header a:hover {text-decoration:underline;color:#FFF;}

.loginbox a:link {
  text-decoration: underline;
}

.tree_item {color:#002D62;}
.tree_item:hover {color:#476A8F;}

 /**
  * Headings
  */
h1,
h2,
h3,
h4,
h5,
h6 {color:#002B5F;}

#page-header h1 {color:#FFF;}

h1.main,
h2.main,
h3.main,
h4.main,
h5.main,
h6.main {text-align:center;font-weight:bold;color:#002B5F;}

h2.headingblock.header {font-size:125%;background-color:#F5F6FA}

th.header,
td.header,
div.header,
.navbar {border-color:#DDDDDD;}
 
.block .header {background-color:#F5F6FA;padding:2px 4px;}
.block .content {background-color:#FFF;border-top:1px solid #D5D5D5;}
.block .content hr {border-top-color:#D5D5D5;}
fieldset {border:1px solid #D5D5D5; padding: .5em;}

.header,
.navbar {background:none;}

 /**
  * Overriding base
  */
#page-header {background-color:#002147;color:#FFF;}
.pagelayout-frontpage #page-header {border:0;margin:0;width:100%;}

.headermain,
#page-header .headermenu {margin-left:15px;float:none;text-align:left;}
#page-header .logo {float:right;margin:1em;}

div.logininfo, div.loginfailures {display: inline; margin-right: 1em;}

.navbar {margin:0;padding-left:10px;border:0;border-top: 1px solid #3f5774;}

.navbar {
  color: white;
  font-size: 0.8em;
  border-top: 1px solid #3f5774;
  border-width: 1px 0 1px 0;
  margin: 0;
  padding: 0 1em;
}
.navbar .breadcrumb {
  margin: 7px 5px;
}
.navbar .navbutton {
  margin: 3px 0;
}

#custommenu {float: right; margin: 2px 1.8em; background: #002147; color: #fff;}
#custommenu.nonav {margin: -.5em 3.5em 3px; font-size: 0.8em;}
#custommenu .yui3-menu .yui3-menu-content {background: #002147; color: #fff;}
#custommenu .yui3-menu .yui3-menu-label-menuvisible, #custommenu .yui3-menu .yui3-menuitem-active, #custommenu .yui3-menu .yui3-menuitem-active a {background: #F5F6FA; color: #002B5F;}

.path-course-view .weeks .content,
.path-course-view .topics .content,
.path-course-view .units .content,
.path-course-view .weeks .section,
.path-course-view .topics .section,
.path-course-view .units .section {background-color:#FFF;}

#page-mod-resource-view .resourcecontent {margin:0; border: 1px dotted red;}
#page-mod-resource-view .resourcecontent object {border: 1px dotted green;}

.decorations {
  text-align: center;
}

.decorations img, img.decoration {
  border: 1px solid #D5D5D5;
}
ul.section, ul.section * {
  clear: both !important;
}

 /**
  * Course spine page
  */
h1.sectionname {margin:.5em; font-size:180%;}
h2.sectionname {margin:.5em; font-size:140%;}

.course-content div.summary {margin-left:2em;}
.course-content div.summary h2 {margin:0;}
.course-content ul.topics li.section .content,
.course-content ul.units li.section .content {margin-left: 0;}
.course-content ul.topics li.section .left,
.course-content ul.units li.section .left  {width: 0;}
.editing .course-content ul.topics li.section .left,
.editing .course-content ul.units li.section .left {width: 40px;}
.section div.right {margin-top:2px;}
.course-content ul.section li.activity {line-height:1.7em;}

.section ul.section {margin-top:0;}
.section div.summary {margin-top:1em;}

li.activity.label hr {border: 0; border-bottom: 1px solid #ddd;}

.commands img.iconsmall {
  height: 12px;
  margin-right: 6px;
  vertical-align: middle;
  width: 12px;
}

.availabilityinfo {margin-top: -3px;}

body#course-view .unread {
  margin-left: .5em;
}
span.unread {
  font-size: 75%;
}
.unread {
  background-color: #F5F6FA;
  border: 1px solid #D5D5D5;
  border-bottom: 2px solid #476A8F;
}

.calendartable .hasevent {
  border: 1px solid #999;
}

.calendartable .today {
  border: 1px solid #444;
  font-weight: bold;
}

td.eventskey {
  padding: .3em;
}

.attention {
  background-color: #d00;
}

/**
 * Mod theme tweaks
 */

.sponsor {font-size: .8em; margin: -.2em 15px;}

div.feedback_item_number_left {padding: 11px;}
div.box.feedback_form fieldset, div.box.feedback_complete_cancel fieldset {border: 0;}

div.blocksubtitle {font-size: .85em;}

.small {font-size: .8em;}

.activity.label .dimmed_text { opacity: 1; filter: alpha(opacity='100');}

.mform fieldset .existingprivatenotes div {
  padding-bottom: .5em;
  border-bottom: 1px solid #eee;
  margin-bottom: .5em;
}

.mform .fitem fieldset.fgroup label {
    margin-left: 0;
    margin-right: 1em;
}

/* Quiz */
.specificfeedback a.autolink {background-color: #FFF6CC;}
.answer div.filter-mathjax {display: inline;}
.questioncorrectnessicon {padding: 0 .5em;}
