body {
  background-color: #225F87;
  color: #fff;
  font-family: "Gill Sans MT", "Gill Sans", Arial, sans-serif;
  font-size: .9em;
  padding: 1.5em;
}
body#tinymce {background-color:#FFF;}
body.lang-vi {font-family:Arial, Verdana, Helvetica, sans-serif !important;}

 /**
  * Links
  */

a {color: #fff; text-decoration: underline;}
a:visited {color: #bbb; text-decoration: underline;}
a:hover {color: #fff;}

.navbar a {color: #fff; text-decoration: underline; font-weight: bold;}
.navbar a:hover {color: #bbb;}

#page-content a {text-decoration:none;color:#222;}
#page-content a:visited {color:#333;}
#page-content a:hover {text-decoration:underline;color:#000;}
#page-content {background-color: #eee;}
#page-content-wrapper {margin: 1em; }

.tree_item {color:#002D62;}
.tree_item:hover {color:#476A8F;}

 /**
  * Headings
  */
h1,
h2,
h3,
h4,
h5,
h6 {color:#002B5F;}

#page-header h1 {color:#FFF;}

 h1.main,
 h2.main,
 h3.main,
 h4.main,
 h5.main,
 h6.main {text-align:center;font-weight:bold;color:#002B5F;}

.block .header , .section .content {background-color:#FFF; color: #444444; border: 1px solid #225B82;}

.block, .block .content {border-bottom-left-radius: .5em; border-bottom-right-radius: .5em; overflow: clip;}
.block .header {border-bottom: 0; border-top-left-radius: .3em; border-top-right-radius: .3em; font-size: 0.8em; font-weight: bold;}
.block .header h2 {margin-top: 5px}
.block_navigation.hidden .header {border: 1px solid #225B82;}
.block .content {background-color:#FFF; color: #444444; border: 1px solid #225B82;}
.block .content hr {border-top-color:#D5D5D5;}
#region-main {margin-top: -.4em;}
#page-content .region-content {padding: 0 1em 0 0;}
 /**
  * Boxes
  */
.header,
.navbar {
  background: #fff;
  color: white;
  font-size: .9em;
  border: 1px solid #ddd;
  margin: 0;
  padding: 0;
}
.navbar {
  background: url("[[pix:theme|cloud]]") no-repeat scroll right top #4C8EBA;
  margin-top: 1em;
  padding: 0 1em;
}

.navbar .breadcrumb {
  margin: 7px 5px 0 5px;
}
.navbar .navbutton {
  margin: 3px 0;
}
 
 /**
  * Overriding base
  */
.pagelayout-frontpage #page-header {border:0;margin:0;width:100%;}

.headermain,
#page-header .headermenu {float:right;text-align:right;}


.path-course-view .weeks .content, .path-course-view .topics .content, .path-course-view .weeks .section, .path-course-view .topics .section {background-color:#FFF;}

#page-mod-resource-view .resourcecontent {margin:0; border: 1px dotted red;}
#page-mod-resource-view .resourcecontent object {border: 1px dotted green;}
#footer {margin-top: 3em;}

 /**
  * Course spine page
  */
 h3.sectionname {margin:.5em;font-size:140%;}
 #section-0 h3.sectionname {margin:.5em;font-size:180%;}
 .course-content div.summary {margin-left:2em;}
 .section div.right {margin-top:2px;}

img.iconsmall {
  height: 12px;
  margin-right: 6px;
  vertical-align: middle;
  width: 12px;
}

/**
 * Mod theme tweaks
 */
/* *** Quiz *** */
#page-mod-quiz-edit * {border-radius:0;}
#page-mod-quiz-edit .questionbankwindow div.header {background-color:#F5F6FA;}
#page-mod-quiz-edit div.quizpage .pagecontent {background-color:#F5F6FA;border:1px solid #D5D5D5;}
#page-mod-quiz-edit div.question div.content div.questioncontrols {background-color:#FFF;positon:static;width:auto;}
#page-mod-quiz-edit div.question div.content div.points {background-color:#F5F6FA;border:1px solid #D5D5D5;float:right;margin:20px 0 2px 0;position:static;width:auto;}
#page-mod-quiz-edit .editq div.question div.content  {background-color:#FFF;}
#page-mod-quiz-edit .questionbankwindow div.header a {text-decoration:none;color:#002D62;font-weight:normal;}
#page-mod-quiz-edit .questionbankwindow div.header a:hover {text-decoration:underline;color:#476A8F;}
#page-mod-quiz-edit div.questionbank,
#page-mod-quiz-edit div.container div.generalbox {background-color:#FFF;border:1px solid #D5D5D5;padding: 2px;}
.que .formulation {background-color:#FFF;border:1px solid #D5D5D5}
