body {
  background-color: #225F87;
  color: #fff;
  font-family: "Gill Sans MT", "Gill Sans", Arial, sans-serif;
  font-size: .9em;
  padding: 1.5em;
}
body.pagelayout-frametop {padding: .5em 1.5em 0 1.5em;}
body#tinymce {background-color:#FFF;}
body.lang-vi {font-family:Arial, Verdana, Helvetica, sans-serif !important;}

 /**
  * Links
  */
a {color: #fff; text-decoration: underline;}
a:visited {color: #bbb; text-decoration: underline;}
a:hover {color: #fff;}

.navbar a {color: #fff; text-decoration: underline; font-weight: bold;}
.navbar a:hover {color: #bbb;}

.path-mod-page .modified, .file-picker, .file-picker a {color: #333;}
#page-content a {text-decoration:none;color:#222;}
#page-content a:visited {color:#333;}
#page-content a:hover, .file-picker a:hover {text-decoration:underline;color:#000;}
#page-content {background-color: #eee;}
#page-content-wrapper {margin: 1em;}

.tree_item {color:#002D62;}
.tree_item:hover {color:#476A8F;}

 /**
  * Headings
  */
h1,
h2,
h3,
h4,
h5,
h6 {color:#333;}

#page-header h1 {color:#FFF;}

h1.main,
h2.main,
h3.main,
h4.main,
h5.main,
h6.main {text-align:center;font-weight:bold;color:#333;}

#page-content #region-main {margin-left: 564px;}
#page-content #region-main-box {left: 116px;}
#page-content #region-pre {left: 284px; width: 284px;}
#page-content #region-post {width: 284px;}

/** Only side pre **/
.side-pre-only #page-content #region-post-box {margin-left:-116px;}
.side-pre-only #page-content #region-main {margin-left:284px;}
.side-pre-only #page-content #region-pre {left:0px;}
.side-pre-only #page-content #region-post {width:0px;}

/** Only side post **/
.side-post-only #page-content #region-main-box {left:0px;}
.side-post-only #page-content #region-post-box {margin-left:-116px;}
.side-post-only #page-content #region-main {margin-left:284px;}
.side-post-only #page-content #region-pre {width:0px;}
.has_dock.side-post-only .page-middle #region-main {margin-left:284px;}

.path-site #page-content {margin-top: 1em;}
#page-content .region-content {padding: 0 1em;}
#page-content #region-pre .region-content {padding-left: 0; margin-right: .5em;}
#page-content #region-post .region-content {padding-right: 0; margin-left: .5em;}

.block {border: 0;}
#region-main, .block .header {background-color:#FFF; color: #444444; border: 1px solid #225B82;}
#region-main {padding: 1em 0;}
.block, .block .content {border-bottom-left-radius: .5em; border-bottom-right-radius: .5em; overflow: clip;}
.block .header {border-bottom: 0; border-top-left-radius: .3em; border-top-right-radius: .3em; font-size: 0.8em; font-weight: bold;}
.block .header h2 {margin-top: 5px}
.block_navigation.hidden .header {border: 1px solid #225B82;}
.block .content {background-color:#FFF; color: #444444; border: 1px solid #225B82;}
.block .content hr {border-top-color:#D5D5D5;}
.mform fieldset.hidden {border-width: 1px;}
.headingblock.header {padding: .3em;}

.sitetopic {border: 0; padding: 10px 5px;}
.sitetopic h1 {margin-top: 0;}

.header {background: #fff; border: 0;}
.navbar {
  background: #4C8EBA url("[[pix:theme|cloud]]") no-repeat scroll right top;
  font-size: .9em;
  border: 1px solid #ddd;
  margin: 1em 0 0;
  padding: 0 1em;
}
.navbar .breadcrumb {margin: 7px 5px;}
.navbar .navbutton {margin: 3px 0;}

#adminsettings fieldset {background: transparent; border: 0;}
#adminsettings fieldset fieldset {border: 1px solid #ddd;}

.pagelayout-frontpage #page-header {border:0;margin:0;width:100%;}

.headermain,
#page-header .headermenu {float:right;text-align:right;}

.path-course-view .weeks .content, .path-course-view .topics .content, .path-course-view .weeks .section, .path-course-view .topics .section {background-color:#FFF;}

.course-content ul.topics li.section .content {margin-left: 0;}
.course-content ul.topics li.section .left {width: 0;}
.editing .course-content ul.topics li.section .left {width: 40px;}

#page-mod-resource-view .resourcecontent {margin:0; border: 1px dotted red;}
#page-mod-resource-view .resourcecontent object {border: 1px dotted green;}
.mod_introbox {border: 0;}
#page-footer {margin-top: 3em;}

tbody.empty td {border: #999;}

h1.sectionname {margin:0 0 .5em 0; font-size:140%;}
h2.sectionname {margin: 0 0 .5em 0; font-size:120%;}
.course-content div.summary {margin-left:2em;}
.section div.right {margin-top:2px;}
.course-content ul.section {margin-top: 0;}
.course-content ul.section li.activity {line-height:1.7em;}

img.iconsmall {
  height: 12px;
  margin-right: 6px;
  vertical-align: middle;
  width: 12px;
}

.course-content ul.topics li.section { margin-bottom: 1em; border-width: 0 0 1px 0;}
div.coursebox {border-width: 0 0 1px 0;}

.availabilityinfo {margin-top: -3px;}

.attention {
  background-color: #d00;
}

div.feedback_item_number_left {padding: 11px;}
