html, body#tinymce {background-color:#FFFFC8;}
body {padding:0; font-size: 14px;}
body.lang-vi {font-family:Arial, Verdana, Helvetica, sans-serif !important;}
 
 /**
  * Links
  */
a, a:visited {text-decoration:none;color: #334859;}
a:hover {text-decoration:underline;color:#476A8F;}

#page-header a, #page-header a:visited {text-decoration:none;color:#000;font-weight:bold;}
#page-header a:hover {text-decoration:underline;color:#00043A;}
#page-header .navbar a {text-decoration:none;color:#fff;font-weight:bold;}
#page-header .navbar a:hover {text-decoration:underline;color:#fff;}
 
.tree_item {color:#334859;}
.tree_item:hover {color:#476A8F;}

 /**
  * Headings
  */
h1,
h2,
h3,
h4,
h5,
h6 {color:#282855;}

h1.main,
h2.main,
h3.main,
h4.main,
h5.main,
h6.main {text-align:center;font-weight:bold;}

.coursebox {border-radius: 1em; background: #fff; padding: .3em; width:  auto;}
#page-content .region-content {padding: 0;}
#page-site-index #page-content .region-content {padding: .5em;}
#page-content #region-pre .region-content {margin-right: .5em;}
#page-content #region-post .region-content {margin-left: .5em;}
#page-content-wrapper {margin: 1em;}
.course-content ul.topics li.section {margin: 1em;}
.course-content ul.topics li#section-0 {margin-top: 0;}

th.header,
td.header,
div.header,
.navbar {border-color:#DDDDDD;}

.block .header, .header {color: #005; background: #FFD400; padding: 2px 4px;}
.block .content {border-bottom-left-radius: 1em; border-bottom-right-radius: 1em; overflow: clip; background-color: #fff; border-top:1px solid #D5D5D5; padding-bottom: .5em}
#region-pre .block {border-bottom-left-radius: 1em; border-bottom-right-radius: 1em;}
#region-pre .block.hidden {border-radius: 0; padding: 0;}
hr {border: 0; border-top: 1px solid #D5D5D5;}

.sitetopic {border: 0; padding: 0 5px;}
.sitetopic h1 {margin-top: 0;}
.mod_introbox {border: 0;}
h2.headingblock.header {padding: .3em; font-size: 120%;}

#dock {
  background: #FFD400 url("[[pix:theme|oy_grad]]") repeat-y left;
}
#dock .dockeditem .dockedtitle, #dockeditempanel .dockeditempanel_hd {
  background: #FFD400 url("[[pix:theme|oy_grad]]") repeat-y right;
  border-color: #666;
}
#dockeditempanel .dockeditempanel_hd h2 {
  color: #00043A;
}

 /**
  * Overriding base
  */
#page-header {
  color: #005;
  background: #FFD400 url("[[pix:theme|oy_grad]]") repeat-y left;
}
.pagelayout-frontpage #page-header {border-bottom:1px solid #000;margin:0;width:100%;}

.headermain,
#page-header .headermenu {margin-left:15px;float:none;text-align:left;}
#page-header .logo {float:right;margin:.5em;}

div.logininfo, div.loginfailures {display: inline; margin-right: 1em;}

.navbar {
  color: white;
  font-size: 0.8em;
  background: #666 url("[[pix:theme|fade]]") repeat-x top;
  border: 1px solid black;
  border-width: 1px 0 1px 0;
  margin: 0;
  }

.nav-inner {
  background: url("[[pix:theme|fade2]]") repeat-x bottom;
  padding: 0 1em;
  }
.navbar .breadcrumb {
  margin: 7px 5px;
}
.navbar .navbutton {
  margin: 3px 0;
}

#custommenu {float: right; margin: 2px 1.8em; background: #666; color: #fff;}
#custommenu.nonav {margin: -.5em 3.5em 3px; font-size: 0.8em;}
#custommenu .yui3-menu .yui3-menu-content {background: #666; color: #fff;}
#custommenu .yui3-menu .yui3-menu-label-menuvisible, #custommenu .yui3-menu .yui3-menuitem-active, #custommenu .yui3-menu .yui3-menuitem-active a {background: #666; color: #eee;}

.path-course-view .weeks .content, .path-course-view .topics .content, .path-course-view .weeks .section, .path-course-view .topics .section {background-color:#FFF;}

#page-mod-resource-view .resourcecontent {margin:0; border: 1px dotted red;}
#page-mod-resource-view .resourcecontent object {border: 1px dotted green;}

 /**
  * Course spine page
  */
h1.sectionname {margin: 0; font-size:180%;}
h2.sectionname {margin:.5em;font-size:140%;}
#section-0 h2.sectionname {margin:.5em;font-size:180%;}
.course-content div.summary {margin-left:2em;}
.course-content ul.section {margin-top: 0;}
.course-content ul.section li.activity {line-height:1.7em;}
.section div.right {margin-top:2px;}

img.iconsmall {
  height: 12px;
  margin-right: 6px;
  vertical-align: middle;
  width: 12px;
}

.availabilityinfo {margin-top: -3px;}

.attention {
  background-color: #d00;
}

/**
 * Mod theme tweaks
 */
/* *** Quiz *** */
#page-mod-quiz-edit * {border-radius:0;}
#page-mod-quiz-edit .questionbankwindow div.header {background-color:#F5F6FA;}
#page-mod-quiz-edit div.quizpage .pagecontent {background-color:#F5F6FA;border:1px solid #D5D5D5;}
#page-mod-quiz-edit div.question div.content div.questioncontrols {background-color:#FFF;positon:static;width:auto;}
#page-mod-quiz-edit div.question div.content div.points {background-color:#F5F6FA;border:1px solid #D5D5D5;float:right;margin:20px 0 2px 0;position:static;width:auto;}
#page-mod-quiz-edit .editq div.question div.content  {background-color:#FFF;}
#page-mod-quiz-edit .questionbankwindow div.header a {text-decoration:none;color:#002D62;font-weight:normal;}
#page-mod-quiz-edit .questionbankwindow div.header a:hover {text-decoration:underline;color:#476A8F;}
#page-mod-quiz-edit div.questionbank,
#page-mod-quiz-edit div.container div.generalbox {background-color:#FFF;border:1px solid #D5D5D5;padding: 2px;}
.que .formulation {background-color:#FFF;border:1px solid #D5D5D5}
